body {
    background-color: rgb(134, 170, 218);
   }
   h1 {
    color: white;
    text-align: center;
   }
   p {
   font-family:Arial, Helvetica, sans-serif;
    font-size: 20px
   }

   #acentuacionRoja {
   color: red;
}
 }
 .resaltado-morado {
    color: rgb(77, 0, 128);
    font-size: 50px
 }

 .resaltado-morado {
    color: rgb(98, 0, 128);
    font-size: 50px
 }

*{
    text-align: center;
}

 p.tono-rosa {
    color: rgb(186, 102, 224);
    font-size: 50px
 }

 .texto-grande {
    font-size: 50px
}
.texto-centro {
    text-align: center;
}