body {
    background-color:#FFF0F5;
   }

h1 {
	background-color:#FFFFF0;
    color: rgb(3, 36, 37);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 60px;
    background-image:url("textura\ marmol.jpg");
    margin: 10px ;
    border-style: double;
    border-width: 10px;
    border-color: rgb(231, 227, 227);
    padding: 25px;
    border-radius: 25px;
}

p {
    background-color:#E6E6FA;
    font-size: 25px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(3, 36, 37)
    margin: 10px;
    padding: 25px;
    border-radius: 10px;

}

h2{
    background-color:#fac0d3;
    color:aliceblue;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px;
    border-style:ridge;
    border-width: 5px;
    border-radius: 25px;
    padding: 30px;
    width: 900px;
}
